@import "../global/variables";

.about-work__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  max-width: 1150px;
  width: 100%;
}

.about-work__item {
  max-width: 555px;
  width: 100%;
  padding: 30px 20px 41px 20px;
  margin-right: 40px;
  margin-top: 28px;
  box-shadow: 0 0 4px #ced3e9;
  border-radius: 15px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }
}

.about-work__description {
  padding-left: 9px;
  margin-top: 27px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: $black-color;
}

.about-work {
  margin-top: 200px;
}

@media (max-width: $desktop-large) {
  .about-work {
    margin-top: 140px;
  }
}

@media (max-width: $tablet-large) {
  .about-work__item {
    max-width: 455px;
  }
}

@media (max-width: $tablet) {
  .about-work__item {
    max-width: 350px;
    margin-right: 28px;
  }

  .about-work {
    margin-top: 80px;
  }
}

@media (max-width: $mobile-vertical) {
  .about-work__item {
    padding: 25px 15px;
    max-width: 251px;
  }

  .about-work__description {
    margin-top: 15px;
    font-size: 14px;
    padding-left: 0;
  }
}

@media (max-width: $mobile-large) {
  .about-work__item {
    max-width: 100%;
    margin-right: 0;
  }

  .about-work__list {
    margin-top: 0;
  }

  .about-work__item:nth-child(2) {
    margin-top: 28px;
  }
}
