@import "../global/variables";

.best-employees__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.best-employees__item {
  display: flex;
  padding: 40px;
  max-width: 412px;
  width: 100%;
  margin-right: 20px;
  margin-top: 30px;
  background: $white-color;
  box-shadow: 0 0 4px rgba(206, 211, 233, 0.8);
  border-radius: 15px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }
}

.best-employees__avatar {
  border-radius: 50%;
}

.best-employees__info-block {
  max-width: 206px;
  width: 100%;
  margin-left: auto;
}

.best-employees__name {
  margin: 10px 0 7px 0;
  font-weight: 600;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height;
  color: $black-color;
}

.best-employees__location {
  margin: 0;
  color: $violet-base;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.best-employees__sum {
  margin: 9px 0 0 0;
  font-weight: 500;
  color: $blue-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.best-employees__sum span {
  margin-left: 5px;
  font-weight: 600;
  font-size: $base-font-size + 2px;
}

.best-employees .slick-slide {
  padding-left: 10px;
  padding-right: 10px;
}

.best-employees {
  position: relative;
  margin-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px;
}

.best-employees__arrow {
  position: absolute;
  top: 50%;
  padding: 0;
  width: 20px;
  height: auto;
  background: transparent;
  border: none;
  transform: translate(-50%);

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.3;
  }
}

.best-employees__arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.best-employees__arrow--prev {
  left: -42px;
}

.best-employees__arrow--next {
  right: -58px;
}

.best-employees .slick-dots {
  position: absolute;
  bottom: -60px;
  left: 0;
}

.best-employees--vertical {
  margin: 0;
}

.best-employees--vertical .best-employees__list {
  display: block;
  margin-right: 0;
}

.best-employees--vertical .best-employees__item {
  margin-right: 0;

  &:nth-child(2) {
    margin-top: 30px;
  }
}

.best-employees--small .best-employees__item {
  padding: 27px 35px;
  max-width: 314px;
}

.best-employees--small .best-employees__avatar {
  width: 75px;
  height: 75px;
}

.best-employees--small .best-employees__name {
  font-size: $base-font-size - 3px;
  line-height: normal;
  font-weight: 700;
}

.best-employees--small .best-employees__sum {
  margin-top: 7px;
  font-size: $base-font-size - 4px;
  line-height: normal;
}

.best-employees--small .best-employees__sum span {
  margin-left: 1px;
  font-size: $base-font-size - 3px;
}

.best-employees--small .best-employees__info-block {
  max-width: 151px;
}

.best-employees--small .best-employees__location {
  line-height: normal;
  font-size: $base-font-size - 4px;
}

@media (max-width: $tablet-large) {
  .best-employees__item {
    max-width: 405px;
  }
}

@media (max-width: $tablet) {
  .best-employees__item {
    max-width: 294px;
    padding: 20px;
  }

  .best-employees__name {
    margin-top: 0;
    font-size: 14px;
  }

  .best-employees__location {
    font-size: 13px;
    line-height: normal;
  }

  .best-employees__sum {
    font-size: 14px;
    line-height: normal;
  }

  .best-employees__sum span {
    font-size: 15px;
  }

  .best-employees__info-block {
    max-width: 175px;
  }

  .best-employees__avatar {
    max-width: 70px;
  }

  .best-employees--get-money {
    display: none;
  }
}
