@import "../global/variables";

.button {
  display: inline-block;
  padding: 16px 32px;
  background-color: $yellow-color;
  border: none;
  border-radius: 6px;
  color: $black-color;
  font-size: $base-font-size;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: rgba($black-color, 0.6);
  }

  &:focus {
    outline: none;
    color: rgba($black-color, 0.3);
  }
}

.button--send {
  width: 100%;
}

.button--calculation {
  padding-left: 52px;
  padding-right: 50px;
  font-size: $base-font-size + 1px;
  border-radius: 10px;
}

.button--employees {
  padding-left: 50px;
  padding-right: 50px;
  font-size: $base-font-size + 1px;
  border-radius: 10px;
}

.button--get-money {
  margin-top: 54px;
  font-size: $base-font-size + 1px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

@media (max-width: $tablet-large) {
  .button--send {
    padding: 16px 25px;
  }
}

@media (max-width: $tablet) {
  .button--get-money {
    display: block;
    max-width: 277px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $mobile-vertical) {
  .button--get-money {
    margin-top: 40px;
  }
}
