@import "../global/variables";

.employees {
  margin-top: 122px;
  padding-top: 150px;
  padding-bottom: 176px;
  background-color: $dark-white;
}

.employees__inner {
  display: flex;
  flex-wrap: wrap;
}

.employees__left {
  max-width: 970px;
  width: 100%;
  padding-left: 65px;
  padding-right: 65px;
}

.employees__right {
  max-width: 238px;
  padding-top: 89px;
  width: 100%;
  margin-left: auto;
}

.employees__leaders {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: $base-font-size + 6px;
  line-height: $base-line-height + 8px;
}

.employees__details {
  width: 100%;
  margin-top: 25px;
  padding-left: 63px;
  padding-right: 63px;
}

@media (max-width: $desktop-large) {
  .employees {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: $tablet-large) {
  .employees__left {
    max-width: 100%;
  }

  .employees__right {
    padding-top: 0;
    margin-top: 70px;
    max-width: 100%;
  }

  .employees__details {
    margin-top: 60px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
@media (max-width: $tablet) {
  .employees__leaders {
    text-align: center;
  }
}
