@import "../global/variables";

.h1 {
  font-size: $base-font-size * 4 - 6px;
  line-height: $base-line-height * 3 + 7px;
  font-weight: 700;
}

.h1--promo {
  margin-top: 0;
  max-width: 620px;
  width: 100%;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
}

@media (max-width: $desktop-large) {
  .h1--promo {
    font-size: 48px;
    line-height: normal;
  }
}

@media (max-width: $tablet-large) {
  .h1--promo {
    max-width: 600px;
  }
}

@media (max-width: $tablet) {
  .h1 {
    font-size: 38px;
  }

  .h1--promo {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: $mobile-large) {
  .h1 {
    font-size: 32px;
  }

  .h1--promo {
    margin-bottom: 20px;
  }
}
