@import "../global/variables";

.h2 {
  font-size: $base-font-size * 2 + 8px;
  line-height: $base-line-height * 2 + 10px;
  font-weight: 600;
}

.h2--about-work {
  margin-bottom: 50px;
  margin-top: 0;
}

.h2--your-earnings {
  max-width: 475px;
  margin-top: 0;
  margin-bottom: 20px;
}

.h2--employees {
  margin-top: 0;
  margin-bottom: 40px;
}

.h2--advantages {
  margin-top: 0;
  margin-bottom: 47px;
}

.h2--money-output {
  margin-top: 0;
  margin-bottom: 20px;
}

.h2--reviews {
  margin-top: 0;
  margin-bottom: 10px;
}

.h2--thank-you {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: $desktop-large) {
  .h2 {
    font-size: 36px;
    line-height: normal;
  }

  .h2--work-steps {
    margin-top: 0;
  }
}

@media (max-width: $tablet) {
  .h2 {
    font-size: 28px;
    margin-bottom: 35px;
  }

  .h2--your-earnings {
    max-width: 100%;
  }
}

@media (max-width: $mobile-vertical) {
  .h2--employees {
    text-align: center;
  }
}

@media (max-width: $mobile-large) {
  .h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
