@import "../global/variables";

.h2 {
  font-size: $base-font-size * 2 + 8px;
  line-height: $base-line-height * 2 + 10px;
  font-weight: 600;
}

.h2--about-work {
  margin-bottom: 50px;
  margin-top: 0;
}
