@import "../global/variables";

.leaders {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.leaders__avatar {
  border-radius: 50%;
}

.leaders__item {
  position: relative;
  display: flex;
  padding-bottom: 14px;
  margin-bottom: 16px;

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(225, 229, 245, 0.5);
    border-radius: 2px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.leaders__info-block {
  width: 163px;
  margin-left: auto;
}

.leaders__name {
  margin: 7px 0 3px 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 600;
  color: $black-color;
}

.leaders__sum {
  margin: 0;
  font-weight: 500;
  font-size: $base-font-size - 2px;
  line-height: $base-line-height;
  color: $blue-color;
}

.leaders__sum span {
  margin-left: 2px;
  font-size: $base-font-size;
  color: $blue-color;
  font-weight: 600;
}

.leaders__left {
  position: relative;
  width: 60px;

  &::after {
    content: " ";
    position: absolute;
    right: -7px;
    bottom: 0;
    display: none;
    width: 34px;
    height: 34px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 34px 34px;
  }
}

.leaders__item--first .leaders__left::after {
  display: block;
  background-image: url("../img/medal-1.svg");
}

.leaders__item--second .leaders__left::after {
  display: block;
  background-image: url("../img/medal-2.svg");
}

.leaders__item--third .leaders__left::after {
  display: block;
  background-image: url("../img/medal-3.svg");
}

@media (min-width: 768px) and (max-width: 1339px) {
  .leaders {
    display: flex;
    flex-wrap: wrap;
  }

  .leaders__item {
    margin-top: 30px;
    margin-bottom: 0;
    padding-right: 30px;
    width: 100%;
    max-width: 33.33%;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }
  }

  .leaders__info-block {
    margin-left: 30px;
  }
}

@media (max-width: $tablet) {
  .leaders__item {
    padding-right: 15px;
  }

  .leaders__sum {
    font-size: 13px;
  }

  .leaders__sum span {
    font-size: 15px;
  }

  .leaders__info-block {
    margin-left: 15px;
    max-width: 155px;
  }

  .leaders__left {
    width: 50px;
  }
}

@media (max-width: $mobile-vertical) {
  .leaders {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .leaders__item {
    padding-right: 0;
  }
}
