@import "../global/variables";

.logo {
  max-width: 177px;
}

.logo--footer {
  margin-right: 148px;
}


@media (max-width: $tablet-large) {
  .logo--footer {
    margin-right: 120px;
  }
}

@media (max-width: $tablet) {
  .logo--footer {
    margin-right: 100px;
  }
}

@media (max-width: $mobile-vertical) {
  .logo--footer {
    margin-right: 40px;
  }
}

@media (max-width: $mobile-large) {
  .logo--footer {
    margin-left: auto;
    margin-right: auto;
  }
}
