@import "../global/variables";

.menu__link {
  font-family: $base-font-family;
  color: rgba($violet-lite-color, 0.6);
  font-size: $base-font-size;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: $yellow-color;
  }

  &:focus {
    color: $white-color;
  }
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menu--header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px 0 auto;
  width: 785px;
  padding-top: 11px;
}

.menu--header .menu__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}

.menu--footer .menu__link {
  color: rgba($white-color, 0.87);

  &:hover {
    color: $yellow-color;
  }

  &:focus {
    color: $white-color;
  }
}

.menu--footer {
  display: flex;
  flex-wrap: wrap;
  width: 445px;
  margin: 0;
}

.menu--footer .menu__item {
  width: 175px;
  margin-top: 15px;

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }

  &:nth-child(2n) {
    margin-left: auto;
  }
}

