@import "../global/variables";

.site-footer {
  padding-top: 70px;
  margin-top: 290px;
  background-color: #242424;
  color: rgba($white-color, 0.87);
}

.site-footer__inner--top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.site-footer__title {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: $base-font-size;
}

.site-footer__social {
  width: 240px;
  margin-left: auto;
  margin-right: 58px;
}

.site-footer__political {
  font-weight: 500;
  font-size: $base-font-size;
  line-height: $base-line-height - 20px;
  color: rgba($white-color, 0.6);
  text-decoration: none;

  &:hover {
    color: $yellow-color;
  }

  &:focus {
    color: $white-color;
  }
}

.site-footer__wrapper {
  padding-top: 20px;
  padding-bottom: 54px;
  border: 1px solid #353535;
}

@media (max-width: $desktop-large) {
  .site-footer {
    margin-top: 150px;
  }
}

@media (max-width: $tablet-large) {
  .site-footer__social {
    margin-right: 0;
    width: 100%;
    max-width: 175px;
  }

  .site-footer__inner--top {
    padding-bottom: 70px;
  }

  .site-footer__wrapper {
    padding-bottom: 20px;
  }

  .site-footer__political {
    font-size: 14px;
    line-height: normal;
  }
}

@media (max-width: $tablet) {
  .site-footer__inner--top {
    padding-bottom: 50px;
  }

  .site-footer {
    padding-top: 50px;
    margin-top: 100px;
  }
}
