@import "variables";

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  *::before {
    box-sizing: inherit;
  }

  *::after {
    box-sizing: inherit;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  color: $black-color;
  background-color: $white-color;
}

img {
  max-width: 100%;
  height: auto;
}

.index-page .site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.index-page .site-header__wrapper {
  background-color: transparent;
}

.index-page .site-header--open {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}
