$black-color: #000000;
$base-font-family: "Montserrat", arial, sans-serif;
$base-line-height: 22px;
$base-font-size: 16px;
$base-letter-spacing: normal;
$violet-lite-color: rgb(178, 185, 212);
$violet-base: #b2b9d4;
$white-color: #ffffff;
$dark-white: #f5f6fa;
$yellow-color: #fece26;
$lite-gray-color: #e3e6f2;
$blue-color: #2696fe;
$desktop-large: 1440px;
$tablet-large: 1339px;
$tablet: 991px;
$mobile-vertical: 767px;
$mobile-large: 570px;
